@import url(https://fonts.googleapis.com/css?family=Jura&display=swap);

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn)
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn)
  }
}

.load-background {
  border: none;
  background-color: transparent;
  outline: 0
}

.load-background i {
  color: #fff;
  cursor: pointer
}

.load-background i.spin-animation {
  -webkit-animation-name: spin;
  animation-name: spin;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in
}

.load-town {
  border: none;
  background-color: transparent;
  outline: 0
}

.load-town i {
  color: #fff;
  cursor: pointer
}

.load-town i.spin-animation {
  -webkit-animation-name: spin;
  animation-name: spin;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box
}

html {
  font-size: 9px;
  height: 100%;
  min-width: 320px
}

body {
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  background: #000;
  font-family: Jura, sans-serif
}

.wrapper,
body {
  display: -webkit-box;
  display: flex;
  height: 100%
}

.wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  width: 1440px;
  min-width: 320px;
  position: relative
}

.button {
  border: 2px solid #ccc;
  border-radius: 5px;
  -webkit-transition: .5s linear;
  transition: .5s linear;
  cursor: pointer;
  background-color: transparent;
  outline: 0;
  font-family: sans-serif;
  font-size: 2rem;
  line-height: 1;
  color: #fff;
  height: 40px;
  font-family: Jura, sans-serif
}

.button:hover {
  background: rgba(186, 210, 255, .6);
  -webkit-transition: .2s linear;
  transition: .2s linear
}

.button:active {
  background: rgba(255, 0, 0, .3)
}

.button_load {
  padding: 5px 10px
}

.button_en {
  margin-left: 5px;
  border-radius: 5px 0 0 5px
}

.button_en,
.button_ru {
  padding: 5px 10px;
  border-right: 1px solid #ccc
}

.button_ru {
  border-radius: 0
}

.button_be,
.button_ru {
  border-left: 1px solid #ccc
}

.button_be {
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 0 5px 5px 0
}

.button_F {
  padding: 5px 10px;
  border-radius: 5px 0 0 5px;
  border-right: 1px solid #ccc
}

.button_C {
  padding: 5px 10px;
  border-radius: 0 5px 5px 0;
  border-left: 1px solid #ccc
}

.button_search {
  padding: 5px 10px;
  margin-left: 5px
}

.button_voice {
  padding: 5px 10px;
  border-left: none;
  border-radius: 0 5px 5px 0
}

.header {
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 0 5%
}

.header,
.header__half {
  display: -webkit-box;
  display: flex
}

.header__half_buttons-panel {
  -webkit-box-direction: normal;
  flex-direction: row;
  padding: 2% 2% 2% 0
}

.header__half_buttons-panel,
.header__half_search-panel {
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  justify-content: center
}

.header__half_search-panel {
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
  padding: 2% 0 2% 2%
}

.header__serch-input {
  width: 270px;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-right: none;
  border-radius: 5px 0 0 5px;
  outline: 0;
  background: transparent;
  font-family: Jura, sans-serif;
  font-size: 2rem;
  color: #fff;
  padding: 0 3%
}

.main {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  padding: 0 5%
}

.weather {
  flex-basis: 100%
}

.weather,
.weather__location {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column
}

.weather__location {
  -webkit-box-align: center;
  align-items: center;
  font-size: 2.5rem
}

.weather__town {
  text-align: center
}

.weather__about {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  -webkit-box-align: center;
  align-items: center;
  width: 100%
}

.weather__about-left {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: end;
  align-items: flex-end;
  width: 60%
}

.weather__about-left_small {
  width: 90%
}

.weather__time_big {
  font-size: 3.5rem
}

.weather__time_small {
  font-size: 2.2rem
}

.weather__parameters {
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%
}

.weather__description {
  text-align: end
}

.weather__description_big {
  font-size: 5rem
}

.weather__description_small {
  font-size: 1.5rem
}

.weather__humidity-wind,
.weather__parameters {
  display: -webkit-box;
  display: flex;
  font-size: 2.5rem
}

.weather__humidity-wind {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  justify-content: space-around;
  margin: 3%
}

.weather__in-this-day,
.weather__next-days {
  display: -webkit-box;
  display: flex
}

.weather-card {
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center
}

.weather-card_small {
  flex-basis: 31.3%;
  margin: 1%;
  padding: 1%;
  border: 2px solid #ccc;
  border-radius: 5%
}

.degree-value_big {
  font-size: 12rem;
  line-height: 1
}

.degree-value_small {
  font-size: 5rem
}

.degree-symbol_big {
  font-size: 8rem
}

.degree-symbol_small {
  font-size: 3rem
}

.map-block {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  align-items: flex-end
}

.map-wrapper {
  border-radius: 15px;
  overflow: hidden;
  margin: 0 0 2%
}

.map,
.map-wrapper {
  width: 350px;
  height: 350px
}

.latitude-with-minute,
.longitude-with-minute {
  font-size: 1.5rem
}

.pane {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
  position: absolute;
  right: calc(50% - 150px);
  top: 14%;
  z-index: 10;
  width: 300px;
  height: 120px;
  font-size: 2rem;
  text-align: center
}

.remove-button {
  position: absolute;
  font-size: 150%;
  top: 5px;
  color: #8b0000;
  right: 10px;
  display: block;
  width: 24px;
  height: 24px;
  border: none;
  outline-style: none;
  background: transparent;
  cursor: pointer
}

.pane_error {
  background: rgba(37, 37, 37, .95);
  border: 2px solid #a00
}

.banner {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 5
}

@media only screen and (max-width:768px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column
  }

  .header__half_buttons-panel,
  .header__half_search-panel {
    padding: 1% 5px
  }

  .weather__town {
    font-size: 1.5em
  }

  .weather__about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse
  }

  .weather__about-left {
    font-size: 2.1rem;
    -webkit-box-align: center;
    align-items: center
  }

  .weather__time_small {
    font-size: 3rem
  }

  .weather__parameters {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    text-align: center
  }

  .weather__description {
    text-align: center
  }

  .weather__description_small {
    font-size: 3rem
  }

  .weather__in-this-day {
    -webkit-box-pack: center;
    justify-content: center
  }

  .weather__next-days {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center
  }

  .weather-card_small {
    width: 100%;
    border-radius: 15px
  }
}

@media only screen and (max-width:1024px) {

  .header__half_buttons-panel,
  .header__half_search-panel {
    padding: 2% 5px
  }

  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column
  }

  .weather__about-left {
    font-size: 1.6rem
  }

  .map-block {
    -webkit-box-align: center;
    align-items: center;
    padding: 5%;
    padding: 5% 0
  }

  .map,
  .map-wrapper {
    width: 100%
  }
}

@media only screen and (max-width:425px) {
  .header__serch-input {
    width: 210px
  }

  .weather__about-left {
    font-size: 1.6rem
  }

  .weather__description_big {
    font-size: 3rem
  }

  .weather__description_small {
    font-size: 2rem
  }

  .weather__humidity-wind {
    font-size: 1.5rem
  }
}

@media only screen and (max-width:500px) {
  .weather__humidity-wind {
    font-size: 2rem
  }
}

@media only screen and (max-width:320px) {

  .map,
  .map-wrapper {
    height: 288px
  }
}